* {
  margin: 0 0 0;
  padding: 0 0 0;
}
body {
  background-color: black;
  color: white;
  font-family: helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}
header {
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}
header li {
  display: inline;
  float: right;
  text-align: center;
  margin: 20px;
  text-decoration: underline;
}
header img {
  height: 50px;
  float: left;
  margin: 10px;
}

#hero-image {
  text-align: center;
  height: 700px;
  /*margin-top: 70px;*/
  background-image: url(images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;

}

#hero-image h2, h4{
  padding-bottom: 20px;
  background-color: black;
}
#mission {
  padding-top: 200px;
  alig
}
#totm {
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
  display: block;

}
#contact {
  height: 200px;
  align-items: center;
}
#contact h2, h5 {
  margin-top: 30px;

}
#flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.product img {
  padding: 10px;
  height: 200px;
  width: 300px;
}
#location {
  background-image: url(images/img-locations-background.jpg);
  height: 700px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

}

.flex-box {
  display: flex;
  padding-top: 15px;
  justify-content: center;

}
.locations {
  padding: 10px;
  margin: 15px 20px;
  background-color: black;
  flex-basis: 300px;
  flex-direction: column;
}
.locations p {
  padding: 30px 0px;
}
#copyright {
  float: left;
  margin: 20px;
}
